.registroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1c1c1c, #2d3a4b);
    color: #ffffff;
  }
  
  .registroBox {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    backdrop-filter: blur(10px);
    text-align: center;
  }
  
  .inputContainer {
    margin-bottom: 15px;
  }
  
  .inputContainer label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .inputContainer input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 20px;
  }
  
  .registerButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1f6feb;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .registerButton:hover {
    background-color: #105dcf;
  }
  
  input{
    text-align: center;
  }
  .passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordWrapper input {
    flex: 1;
  }
  
  .passwordIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #aaa;
  }
  
  .passwordIcon:hover {
    color: #333;
  }
  